{% extends 'base.html.twig' %}

 {% block title %}LeNewStyl{% endblock %}

{% block body %}

    {#    {{ parent() }}    utilisation de l'héritage avec twig; affiche d'abord le contenu du "parent" avant d'afficher  #}

        <div class="row my-1">
            <div id="aside_nav" class="my-3 mx-1 w-25 animate__animated animate__fadeInLeft">
                <div class="col dropdown">
                    <div class="">
                        <a class="btn btn-secondary btn-block" href="{{ path('newstyl_accueil') }}">
                            Catégories
                        </a>
                        {% for cat in categorie %}
                            <div class="col dropdown">
                                <div class="dropdown">
                                    {# Pour chaque catégorie on veut afficher la liste des produits #}
                                    {# le formulaire ci-dessous permet de récupérer le nom de la catégories selectionnée par l'internaute #}
                                    {% if (cat.nomCatg != "Plats")and(cat.nomCatg != "Boissons")and(cat.nomCatg != "Boissons Alcoolisées") %}
                                        <form action="{{ path('newstyl_search') }}">
                                            <input class="form-control mr-sm-2 far fa-search" type="hidden"
                                                   name="search" value="{{ cat.nomCatg }}">
                                            <button type="submit" class="dropdown-item">{{ cat.nomCatg }} </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                        <form action="{{ path('newstyl_search') }}">
                            <input type="hidden" name="search" value="all">
                            <button type="submit" class="btn btn-secondary btn-block">Tout les Produits</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="w-60">
                {{ include('carousel.html.twig') }}
            </div>
        </div>

        <hr>    {# {{ dump(produit) }}  les produits en BDD #}
            <section class="bg_image">
                <h2 class="text-center">Notre sélection</h2>
            </section>
        <hr>

        <div class="row">
            {% for pdt in produit %}
                {% if( ( pdt.id == 1 ) or (pdt.nomProduit == "Poulet DG" ) or (pdt.nomProduit == "Vin" ) ) %}
                    <div class="col-md-4 animate__animated animate__fadeInLeft card_block">
                        <div class="card profile-card-5 mx-4 h-100">
                            <div class="card-img card-img-block h-60">
                                <img src="{{ asset('img/produits/') }}{{ pdt.imgNameProduit }}"
                                     class="card-img-top img-thumbnail h-100" alt="{{ pdt.nomProduit }}"/>
                            </div>
                            <div class="card-body mx-2">
                                <h4 class="card-title">
                                    {{ pdt.categorie }}
                                </h4>
                                <h5 class="card-title">
                                    {{ pdt.nomProduit }}
                                </h5>
                                {# <div class="card-text">
                                #}{# "markdown_to_html" permet de supprimer les balises "<div>" (comme htmlspecialchars) #}{#
                                {{ pdt.description|markdown_to_html }}
                            </div> #}
                                <div class="row product-links d-flex justify-content-between">
                                    <a href="#"     {# href="{{ path('panier_ajouter',{id:pdt.id}) }}" #}
                                       class="card-link btn btn-outline-info">
                                        {{ pdt.prixProduit }}€
                                    </a>
                                    {# <a href="{{ path('panier_ajouter',{id:pdt.id}) }}"
                                       class="card-link btn btn-outline-dark ">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a> #}
                                    <a  href="{{ path('newstyl_produit_show',{id:pdt.id}) }}"
                                       class="card-link btn btn-outline-dark">
                                        <i class="fas fa-info"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>

{% endblock %}

