{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <!--barre de navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <div class="navbar-nav  mt-2 mt-lg-0">
                    <a class="nav-link nav-item" href="{{ path('newstyl_accueil') }}">LeNewStyl <i class="fas fa-utensils"></i></a>
                </div>
                <div id="search" class="mr-auto ">
                    <form class="my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher produit"
                               aria-label="Search">
                        {# <button type="submit"><i class="fas fa-search"></i></button> #}
                    </form>
                </div>
                <div class="navbar-nav form-inline my-2 my-lg-0">
                    <a class="nav-item nav-link" href="{{ path('app_login') }}"><i class="far fa-user"></i> Login </a>
                    <a class="nav-item nav-link" href="{{ path('newstyl_accueil') }}"><i class="far fa-user"></i> Logout </a>
                    <a class="nav-item nav-link" href="#"><i class="fas fa-cash-register"></i> Register </a>
                    <a class="nav-item nav-link" href="{{ path('newstyl_panier') }}"><i class="fas fa-shopping-cart"></i> Panier </a>

                    <ul class="vertical panier" >
                       <table class="tabPanier">
                           <thead>
                           <tr>
                               <th>Produits</th>
                               <th>Quantité</th>
                               <th>Sous total</th>
                               <th>Actions</th>
                           </tr>
                           </thead>
                           <tbody>
                               {% for lc in lignesCmds %}
                                   <tr>
                                       <td>{{ lc.ligne_cmd }}</td>
                                       <td class="align-center"> {{ lc.ligne_cmd.quantite }} </td>
                                       <td class="align-right">
                                           <strong>{{ lc.ligne_cmd.sousTotal }} €</strong>
                                       </td>
                                       <td class="text-right">
                                           <a class="panierActionSupprimer" href="{{ path('panier_supprimer',{id:lc.ligne_cmd.produit.id}) }}">
                                               <strong><i class="fas fa-trash-alt fa-lg"></i> </strong>
                                           </a>
                                       </td>
                                   </tr>
                                {% else %}
                                   <tr>
                                       <td colspan="4">Le panier est vide</td>
                                   </tr>
                               {% endfor %}

                               {% if total > 0 %}
                                   <tr class="total">
                                       <td colspan="2" class="text-right"><strong>TOTAL</strong></td>
                                       <td class="text-right primary"><strong>{{ total }}</strong></td>
                                       <td class="text-right primary"></td>
                                   </tr>
                               {% endif %}
                           </tbody>
                       </table>
                    </ul>
                </div>

            </div>

            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    {% if is_granted("ROLE_USER") %}
                    <li class="has-submenu">
                        <a href="#" style="margin-right: 7rem"> Profile</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li>
                                <a href="{{ path('app_mon_compte') }}" style="margin-right: 7rem">compte</a>
                            </li>
                            <li>
                                <a href="{{ path('app_logout') }}" style="margin-right: 7rem">Logout</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ path('app_login') }}" style="margin-right: 7rem">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </nav>
        <!--fin de la barre nav-->
    </header>

{% endblock %}
